label {
  color: #607D8B;
  font-weight: bold;
}
input {
  font-size: 1em;
}
button {
  font-family: Arial;
  background-color: #eee;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
